.first-section {
  background-color: #FFF846;
  display: flex;
  flex-direction: column;
}

.animate-bg {
  width: 151px;
  height: 100%;
  background: #FFB525;
  mix-blend-mode: difference;
  position: absolute;
  left: 0;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 12s;
  z-index: 20;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 151px);
  }

  100% {
    left: 0;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #070320;
  display: flex;
  width: fit-content;
  margin-bottom: 32px;
  position: fixed;
  z-index: 120;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
}

.header-menu {
  display: flex;
  padding: 10px 42px 10px 50px;
  align-items: center;
  gap: 48px;
}

.header-menu__item {
  cursor: pointer;
  font-size: 14px;
  line-height: 143%;
}

.header-btn {
  background-color: #070320;
  border-radius: 0px;
  border: none;
  width: 90px;
  cursor: pointer;
  transition: all 0.3s;
  height: 100%;
  font-family: 'Manrope';
  font-weight: 700;
  line-height: 150%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: darken(#fff, 20%);
  }

  &:active {
    color: darken(#fff, 40%);
  }
}

.first-info {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.first-descr {
  margin-left: 50px;
  font-family: 'Urbanist';
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  opacity: 0.3;
  margin-bottom: 18px;
}

.first-logoText {
  margin-left: 42px;
  margin-bottom: 26px;
  width: 347px
}

.first-main {
  text-align: center;
  margin-left: -1px;
  padding: 0px 45px;
  background-image: url('../images/landing/first-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.first-title {
  color: #fff;
  font-family: 'Urbanist';
  font-weight: 900;
  font-size: 114.142px;
  line-height: 83%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 32px;
  margin-top: -24px;
  z-index: 21;
}

.btn-transform {
  width: 202px;
  height: 56px;
  margin: 0px auto;
  background-color: #070320;
  border-radius: 0px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;

  &:hover,
  &:focus {
    color: darken(#fff, 20%);
  }

  &:active {
    color: darken(#fff, 40%);
  }
}

.menu-burger-news {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  display: none;
}

.menu-burger-inner{
  margin-right: 16px;
}

.menu-burger {
  margin-left: 17px;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;

  span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;

    &:first-child {
      top: 0px;
    }

    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }
}

.menu-burger__active {
  span {
    transform: scale(0);

    &:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }

    &:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}

@media (max-width: 1300px) {
  .first-title {
    font-size: 60px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 32px;
    margin-top: 0px;
  }

  .first-logoText {
    width: 200px;
    margin-bottom: 16px;
  }

  .header {
    margin-bottom: 16px;
  }
}

@media (max-width: 700px) {

  .first-main {
    padding: 32px 24px;
  }

  .first-descr {
    margin-left: 24px;
    margin-bottom: 16px;
  }

  .first-logoText {
    margin-left: 24px;
    width: 150px;
  }

  .first-title {
    width: 100%;
    font-size: 40px;
    margin-bottom: 16px;
  }

  .btn-transform {
    height: 48px;
    width: 150px;
  }

  .menu-burger-news {
    display: flex;
  }

  .header-menu {
    display: none;
  }

  .header {
    width: 100%;
    justify-content: space-between;
  }

  .header-btn {
    height: 40px;
  }

  .header-menu--show {
    display: block;
    position: absolute;
    right: 0px;
    top: 41px;
    height: calc(100vh - 39px);
    background-color: #fff;
    padding: 32px;
    z-index: 100;

    .header-menu__item {
      margin-bottom: 16px;
    }
  }

  .header-logo {
    margin-left: 24px;
  }
}